.gitignore
agrivenv
.vscode
others
data/corpus_tes.json
src/__pycache__
script
data/*_*
data/chroma_*
data/benchmark_*
data/processed
data/faiss_*
data/embeddings.npy
data/*_test
data/faiss_index.index
evaluation/test_api1.py
frontend/__pycache__
.env
embedding_pipeline.log
api/__pycache__
.venv
*.log
*.csv
embeddings.txt
*.zip
fix_index.py
test_request.json
*.png
